body, button, input {
    font-family: monospace;
    font-size: 24px;
    line-height: 1.5;
}

body {
    margin: 0;
    cursor: default;
    user-select: none;
    color: #fff;
    overflow: hidden;
}

h1 {
    font-size: 32px;
}

h1, p {
    margin: 16px 0;
}

canvas {
    display: block;
}

button, input {
    padding: 16px 24px;
    border: 4px solid #222;
    background-color: #fff;
}

button {
    cursor: pointer;
}

input {
    width: 300px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.menu-layer {
    background-color: rgba(0, 0, 0, 0.6);
}

.player-list {
    position: absolute;
    top: 16px;
    left: 16px;
}

.hidden {
    visibility: hidden;
}

.health-bar {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 200px;
    height: 20px;
    background-color: #f00;
}

.health-bar-part {
    height: 100%;
    background-color: #0c0;
}

.chat-list {
    position: absolute;
    left: 16px;
    bottom: 56px;
    width: 600px;
    overflow: hidden;
}

.chat-input {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 500px;
    height: 32px;
    overflow: hidden;
}

.chat-input.active {
    background-color: rgba(0, 0, 0, 0.6);
}
